*{
    padding: 0;
    margin: 0;
}




body{
background-color:#8bb8e2;

}
#nav-bar{
  background-color:#83ECA6;   
  box-shadow: 0px 9px 12px #b1e6c9;
  margin: 1px;

/*  border:2px solid black;     */

  

}
  
  /* Left navigation bar   */
    .upper-nav{
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        
       /* border: 2px solid red;
         */  
    }
    /* nav-img is a item of a left-nav */
    #nav-img{
      /*  border: 1px solid black; */
        width:4em ;
        border-radius: 36%;
        margin: 4px;  
        }
    /* nav-list is a item of a left-nav  */
    .nav-list{
     display: flex;
     flex-wrap: wrap;
     list-style: none;    
    }
   /* li is item of a nav-list  */
.li{
    display: flex;
    margin-left: 5px;
    padding: 12px 4px;
  /*  border: 2px solid red;  */
    justify-content: center;
    align-items: center;
   
   }
   li a{
    padding: 7px 14px;
    border-radius: 7px;
    list-style: none;
    transition:0.42s ease-in;
    text-decoration: none;
    font-weight: 300;
    color: #496e99
    ;
     }
    
    li a:hover{
      background-color:rgba(58, 61, 61, 0.637);
      color: lavender;
      position: relative;
      top: 2px;
      left: 2px;
     
      
    }

     
 

    /* here we are typing this code for banner making  */
    #banner{
   /*  border: 5px solid black;   */  
     width:95vw;
     margin: 10px auto;    
     border-bottom-right-radius: 20px;
     border-top-left-radius: 20px;

    }


    #ban-heading{
       width: 90%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin: 1.5em auto;
       font-size: 2em;
      
       text-shadow: 1px 0px rgb(230, 52, 52);
       

    }
   
    
   #sub-card-container{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        padding: 1em ;       
        
    /* border: 5px solid black;  */ 
   }
   .sub-card{
   border: 1px solid rgb(179, 255, 0); 
   height: 100px;
   width: 200px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items:left;
   margin: 5px 15px;
   padding: 2px;
   background-color: #83eca6;

   }
   .sub-card:hover{
    box-shadow: 5px 6px 9px 0px rgb(211 231 164);
   }

   .sub-card h2{
   text-decoration: underline;
   box-shadow: 0px 5px 9px 0px rgb(211 231 164);

   }
   .sub-desc{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items:left;
   margin: 5px;

   }
 
#login{
   display: inline-block;
   text-align: right;
   color: red;
  /*  border: 2px solid red;       */
    width: 95%;
    margin: 10px auto;
    padding: 20px 10px;
    font-size: 2em;

}
#login-right{
   display: inline;
   align-items: flex-end;
   text-align: end;
   padding: 15px 10px;
  /* border: 2px solid black; */
 

}

/* footer   section css */
.container{
display: flex;
height:fit-content;
flex-direction: row;
flex-wrap: wrap;
padding: 2px 5px;
align-items: center;
align-content: space-around;
justify-content:space-around;
background-color:#83ECA6;   
box-shadow: 0px  -10px 12px#b1e6c9;



}
.Sub-d{
/*  border: 2px solid black;     */
  margin: 5px 10px;
  padding: 5px 10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.footer-desc{
 /* border: 2px solid black;    */
  margin: 10px 5px ;

}

/* for google icons*/
.material-icons{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 44px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  display: flex;
  justify-content: center;
  align-items:center;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}